body  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px
}
form  {
    margin: 0 auto;
    width: 280px;
    padding: 14px;
    border: solid 2px #00a2ff;
    background-color: #ebf4fb
}

#maxchars  {
    color: #ff0000
}

#charscounter  {
    color: #008000;
    font-size: 20px
}

.error  {
    color: #ff0000;
    width: 270px;
}

h4  {
    margin-bottom: 3px;
}

#progress  {
    height: 15px;
    background-color: #008000;
}

input  {
    font-size: 12px;
    padding: 4px 2px;
    border: solid 1px #aacfe4;
    width: 270px;
    margin: 3px 20px 5px 0px
}

label  {
    font-weight: bold;
    text-align: right;
    width: 250px
}

button  {
    width: 130px;
    height: 30px;
    line-height: 30px;
    background-color: #494040;
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
    border: none;
    margin-left: 75px
}

button:hover  {
    background-color: #ff0000
}
